h1 {
    background-color: rgb(230, 143, 156)
}
.Xan {
    width: 40px;
    height: 40px;
}
.marker {
    height: 200px;
    width: 200x;
}
.pon {
    height: 200px;
    width: 200x;
}
.love {
    height: 300px;
    width: 300x;
}
.pink {
    height: 300px;
    width: 300x;
}
.lisa {
    height: 300px;
    width: 300x;
}
.nn {
    height: 300px;
    width: 300x;
}

.stay {
    height: 300px;
    width: 400px;
}
.fg {
    height: 300px;
    width: 300px;
}
.hg {
    height: 300px;
    width: 300px;
}
.minni {
    height: 300px;
    width: 300px;
}
.zorishka {
    height: 300px;
    width: 300px;
}
.cara {
    height: 300px;
    width: 300px;
}
.xa {
    height: 300px;
    width: 200px;
}
.skzoo {
    height: 300px;
    width: 200px;
}
.mm {
    height: 300px;
    width: 400px;
}
.mn {
    height: 300px;
    width: 200px;
}
.ml {
    height: 300px;
    width: 200px;
}
.lm {
    height: 300px;
    width: 200px;
}
.bv {
    height: 300px;
    width: 200px;
}
.bm {
    height: 300px;
    width: 200px;
}

h2 {
     background-color: rgb(230, 119, 156)
}
body {
    font-family: sans-serif;

    background-color: rgb(255, 207, 214)
}
footer p {
    color: rgb(86, 1, 54);
    font-size: 14px;
}
p {
    color: rgb(75, 1, 38);
}
 main {
       text-align: left;
       color: white;
  }
  img {
    border: 3px solid rgb(255, 255, 255);
}
p {
   border:3px solid rgb(255, 255, 255);
}
p {
    background-color: rgb(255, 235, 237)
}
